@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
  height: 100%;
  width: 99vw;
  margin: 0px;
  /*background:rgb(10, 141, 130);*/
  /*background-image: linear-gradient(
    to bottom,
    rgb(10, 141, 130),
    rgb(15, 204, 204),
    rgb(10, 141, 130)
  );*/
  background-image: radial-gradient(rgb(16, 133, 123), rgb(14, 212, 212));
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 16px;
  box-sizing: content-box;
}

#reviews-wrapper {
  padding: 10px;
}

.main {
  background: rgb(43, 128, 255);
  width: 100%;
  max-width: 1200px;
  border: 3px solid black;
}

.main h2 {
  font-family: "Open Sans", sans-serif;
}

.page-header {
  text-align: center;
  font-size: 48pt;
}

p {
  text-align: center;
  margin: 10px;
}

.main2 {
  background: rgb(149, 222, 255);
  width: 100%;
  max-width: 1200px;
  flex-grow: 1;
  text-align: center;
}

.cover-bubble {
  background: white;
  height: 410px;
  width: 20%;
  align-content: center;
  border-radius: 30px;
  margin: 20px;
  cursor: pointer;
  overflow: hidden;
}

.cover-bubble img {
  width: 75%;
  position: relative;
  top: 15px;
}

.cover-bubble h2, h4 {
  word-wrap: break-word;
}

.cover-bubble h4 {
  position: relative;
  bottom: 10px;
}

.review-text {
  display: none;
  background: white;
  border-radius: 10px;
  margin: 20px;
  text-align: left;
  padding: 10px;
}

.highlight-review {
  border: 6px solid black;
}

#review-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.welcome-header {
  background: white;
  border-radius: 20px;
  width: 65%;
  height: 200px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 50px;
}

.welcome-text {
  vertical-align: middle;
  display: inline-block;
}

#welcome-subheader {
  font-family: "Open Sans", sans-serif;
}

#updates-bubble {
  background: white;
  border-radius: 50px;
  width: 38%;
  height: 101%;
  position: absolute;
  left: 41%;
  top: 305px;
  overflow-y: scroll;
}

#updates-bubble p {
  position: relative;
  top: 40px;
  text-align: left;
  margin: 30px;
  font-size: 15pt;
}

#updates-bubble-title {
  background-image: linear-gradient(
    to bottom,
    rgb(22, 186, 236),
    rgb(15, 204, 204)
  );
  border-radius: 20px;
  width: 75%;
  height: 11%;
  position: relative;
  top: 4%;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  left: 22%;
  top: 95px;
  width: 100px;
}

.bubble-container a {
  text-decoration: none;
  color: black;
}

.bubble-container div:hover {
  background: whitesmoke;
  border: 2px solid black;
}

.reviews-bubble {
  background: white;
  border-radius: 50px;
  width: 300px;
  height: 300px;
  text-align: center;
  position: relative;
  margin: 10px;
}

.reviews-bubble img {
  width: 70%;
  position: relative;
  top: 10px;
}

.about-bubble {
  background: white;
  border-radius: 50px;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 10px;
}

.about-bubble img {
  position: relative;
  top: 15px;
  width: 70%;
}

.booklist-bubble {
  background: white;
  border-radius: 50px;
  width: 300px;
  height: 300px;
  text-align: center;
  position: relative;
  margin: 10px;
}

.booklist-bubble img {
  width: 90%;
  position: relative;
  top: 40px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
}

.footer {
  background: rgb(3, 49, 45);
  color: white;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: large;
}

#reviews-footer {
  position: absolute;
  left: 0px;
}

.review-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.review-list a:visited {
  color: blue;
}

#special-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 35%;
}

.review {
  border-top: 2px dashed black;
  font-size: large;
}

.review p {
  text-align: left;
  margin: 20px;
}

#booklist-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.booklist-genre {
  background: white;
  border-radius: 25px;
  border: 5px solid rgb(15, 204, 204);
  text-align: left;
  width: 45%;
  height: clamp(350px, 350px, 450px);
  overflow-y: scroll;
  margin: 10px;
  font-size: large;
  text-align: left;
}

#sci-fi-genre h2, #fantasy-genre h2, #realistic-genre h2, #science-genre h2 {
  text-align: center;
}

.booklist-book {
  text-decoration: underline;
}

.faq {
  font-weight: bolder;
}

#top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#top-button:hover {
  background-color: rgb(233, 233, 233);
}

/*
@media only screen and (max-width: 800px) {
  #mobile-warning {
    display: initial;
  }
}
*/

#navigation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 101vw;
  max-width: 1200px;
  height: 160px;
  color: white;
  background:rgb(6, 197, 165);
  border: 8px solid rgb(13, 92, 75);
  border-top: none;
}

#navigation-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 200px;
  height: 135px;
  background: white;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  padding: 3px;
  position: relative;
  right: 480px;
  top: 30px;
}

#navigation h3 {
  position: relative;
  bottom: 5px;
}

#navigation img {
  height: 80px;
  position: relative;
  bottom: 10px;
}

#navigation ul, li {
  display: inline;
  text-decoration: none;
}

#navigation ul li {
  margin: 40px;
  padding: 10px;
  position: relative;
  bottom: 43px;
  font-size: 24px;
  background: white;
  border-radius: 10px;
}

#navigation ul li a {
  color: black;
  text-decoration: none;
}

#navigation ul li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1600px) {
  .bubble-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0px;
  }

  .bubble-container div {
    margin: 10px;
  }

  .welcome-header {
    width: 95%;
    height: 250px;
    margin: auto;
    overflow: hidden;
  }

  #updates-bubble {
    top: 150px;
    width: 80vw;
    height: 70vh;
    overflow-y: scroll;
    position: relative;
    left: 0px;
    margin: auto; 
  }

  .booklist-genre {
    width: 70vw;
  }
}

@media only screen and (max-width: 1200px) {
  #navigation-title {
    position: relative;
    top: -10px;
    right: 0px;
    width: 40%;
    height: 100px;
  }

  #navigation {
    border: none;
    border-bottom: 8px solid rgb(13, 92, 75);
    height: 25vh;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  #navigation img {
    height: 40%;
  }

  #navigation ul {
    padding: 0px;
    margin: 0px;
  }

  #navigation ul li {
    margin: 0px;
    top: 7px;
    font-size: initial;
    flex-shrink: 1;
    flex-basis: content;
  }
}

@media only screen and (max-width: 830px) {
  .cover-bubble {
    height: fit-content;
    width: 50%;
    margin: 30px;
  }
}