@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html {
  height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  height: 100%;
  margin: 0;
  background: steelblue;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.main {
  background: rgb(43, 128, 255);
  width: 100%;
  max-width: 1200px;
  border: 3px solid black;
}

.page-header {
  text-align: center;
  font-size: 48pt;
}

.links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.links a {
  text-align: center;
  font-size: 16pt;
  margin: 5px;
}

p {
  text-align: center;
  margin: 10px;
}

.main2 {
  background: rgb(149, 222, 255);
  width: 100%;
  max-width: 1200px;
  flex-grow: 1;
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
}

.footer {
  background: navy;
  color: white;
  border-top: 1px solid black;
  width: 100%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

#center {
  text-align: center;
}

#special-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 35%;
}

.disclaimer {
  font-weight: bolder;
}

.review {
  border-top: 2px dashed black;
}

#footer-link {
  color: white;
}
